

.section-title span{
    color: transparent;
    background: linear-gradient(to left, #38ef7d, #11998e);
    background-clip: text;
}

.about-ul li img{
    width: 20px;
    height: 20px;
}

.about-24{
    color: transparent;
    background: linear-gradient(to left, #38ef7d, #11998e);
    background-clip: text;
}